@model string

<h2>Index</h2>

@section scripts{
    <script src="~/js/product/product-controller.js"></script>
    <script type="text/javascript">   
        var products = @Html.Raw(Model);
    </script>
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" ng-controller="productController">
    <tr>
        <th>
            Id
        </th>
        <th>
            Product Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
    </tr>

    <tr ng-repeat="prod in products">
        <td>
            {{prod.id}}
        </td>
        <td>{{prod.productName}}</td>
        <td>{{prod.description}}</td>
        <td>{{prod.price}}</td>

    </tr>


</table>
